<div th:fragment="create" >

    <form action="#" th:action="@{/saveFundraiser}" th:object="${fundraiser}" method="GET">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="fundraiserName">Fundraiser Name</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name = "fundraiserName" th:field="*{name}">
        </div>
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="fundraiserDescription">Fundraiser Description</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name = "description" th:field="*{description}">
        </div>
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="totalFundsRaised">Total Funds Raised</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name = "totalFundsRaised" th:field="*{totalFundraised}">
        </div>


        <button name="submit" class="btn btn-primary" type="submit" value="0">Submit</button>
    </form>

</div>