<div th:fragment="create">

    <h2>Tier Creation Form</h2>

    <form action="#" th:object="${tier}">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="tierName">Tier Name</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-sm" name="tierName" th:field="*{name}">
        </div>
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="tierDescription">Tier Description</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-sm" name="tireDescription" th:field="*{description}">
        </div>
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="totalFundsRaised">Amount Required For Reward</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-sm" name="requiredAmount" th:field="*{requiredAmount}">
        </div>


        <button name="submit" class="btn btn-primary" type="submit" value="0">Submit</button>
    </form>

</div>