<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fundraiser Manager</title>
</head>
<body>
<header>
    <h1>
        Fundraiser Manager
    </h1>

    <div class="topnav">
        <a href="start.html">Home</a>
        <a href="Members.html">Members</a>
        <a href="Fundraisers.html">Fundraiser</a>
    </div>

    <!---Todo: needs a DAO --->
    <form id="form">
        <input type="search" id="query" name="q" placeholder="Search...">
        <button>Search</button>
    </form>

    <p>
        Welcome to Fundraiser Manager! The Fundraiser Manager allows organizers to set up an online space for their fundraiser. This allows any participants the ability to see information about the fundraiser, compare how much they have sold compared to other participants, and see if / how many rewards they qualify for from the organizers. Organizers are able to edit information about their fundraiser, establish rewards / reward tiers, and edit members and member information.
    </p>
</header>
</body>
</html>